{% load static %}

{% if user == request.user %}

  {% if user.role == 'executor'%}
    <h4>Мои услуги:</h4>
      <p><form method="get" action="{% url 'services:service_create'%}">
        <button class="btn btn-primary my-button" type="submit">Создать услугу</button>
      </form></p>
      <ul>
        {% for service in my_list_services %}
        <li>
            {{ service.category.name }}
              - <a href="{% url 'services:service_detail' service.id %}">{{ service.name }}</a>
              - Цена: {{ service.price }} ₽
        </li>
        {% empty %}
          нет услуг
        {% endfor %}
      </ul>
    <h4>Мои заказы:</h4>
      <ul>
        {% for order in my_list_orders %}
        <li>
          <a href= "{% url 'services:order_detail' order.id %}">{{ order.name }}</a>
              - Цена: {{ order.price }} ₽
              - Статус: {{ order.get_status_display }}
        </li>
        {% empty %}
          нет заказов
        {% endfor %}
      </ul>

  {% elif user.role == 'customer' %}
    <h4>Мои заказы:</h4>
      <ul>
        {% for order in my_list_orders %}
        <li>
            <a href= "{% url 'services:order_detail' order.id %}">{{ order.name }}</a>
              - Цена: {{ order.price }} ₽
              - Статус: {{ order.get_status_display }}
        </li>
        {% empty %}
          нет заказов
        {% endfor %}
      </ul>

    {% endif %}

{% else %}
  <h4>Мои услуги:</h4>
  <ul>
    {% for service in my_list_services %}
      <li>
        {{ service.category.name }}
            - <a href="{% url 'services:service_detail' service.id %}">{{ service.name }}</a>
            - Цена: {{ service.price }} ₽
        </li>
    {% empty %}
      нет услуг
    {% endfor %}
  </ul>
{% endif %}
