{% extends 'base.html' %}

{% block title %}
  Заказ: {{ order.name }}
{% endblock %}

{% block content %}
  <h3>Заказ: {{ order.name }}</h3>
  <p><strong>Статус: </strong> {{ order.get_status_display }}

    {% if request.user == order.executor%}
    <form method="post" action="{% url 'services:change_order_status' order.id %}">
      {% csrf_token %}
      <select name="new_status">
        <option value="TODO" {% if order.status == 'TODO' %} selected {% endif %}>Оформлен</option>
        <option value="IN_PROGRESS" {% if order.status == 'IN_PROGRESS' %} selected {% endif %}>В работе</option>
        <option value="IN_REVIEW" {% if order.status == 'IN_REVIEW' %} selected {% endif %}>На проверке</option>
        <option value="CANCEL" {% if order.status == 'CANCEL' %} selected {% endif %}>Отменен</option>
      </select>
      <button class="btn btn-primary my-button" type="submit">Изменить статус</button>
    </form>
    {% endif %}

    {% if request.user == order.customer %}
    <form method="post" action="{% url 'services:change_order_status' order.id %}">
      {% csrf_token %}
      <select name="new_status">
        <option value="TODO" {% if order.status == 'TODO' %} selected {% endif %}>Оформлен</option>
        <option value="TO_FIX" {% if order.status == 'TO_FIX' %} selected {% endif %}>На доработку</option>
        <option value="DONE" {% if order.status == 'DONE' %} selected {% endif %}>Выполнен</option>
        <option value="CANCEL" {% if order.status == 'CANCEL' %} selected {% endif %}>Отменен</option>
      </select>
      <button class="btn btn-primary my-button" type="submit">Изменить статус</button>
    </form>
    {% endif %}
  </p>

  <p><strong>Исполнитель:</strong>
    <a href="{% url 'users:profile' order.executor.username %}">{{ order.executor.username }}</a>
  </p>
  <p><strong>Заказчик:</strong>
    <a href="{% url 'users:profile' order.customer.username %}">{{ order.customer.username }}</a>
  </p>
  <p><strong>Цена:</strong> {{ order.price }} ₽ </p>
  <p><strong>Описание:</strong> {{ order.description }}</p>

{% endblock %}