{% extends 'base.html' %}

{% block title %}
  {{ service.name }}
{% endblock %}

{% block content %}
  <h3>{{ service.name }}</h3>
  <p>{{service.image}}</p>
  <p><strong>Категория:</strong> {{ service.category.name }}</p>
  <p><strong>Исполнитель:</strong>
    <a href="{% url 'users:profile' service.executor.username %}">{{ service.executor.username }}</p></a>
  <p><strong>Цена:</strong> {{ service.price }} ₽ </p>
  <p><strong>Описание:</strong> {{ service.description }}</p>

  {% if request.user == service.executor %}
    <p><form method="get" action="{% url 'services:service_edit' service.id %}">
      <button type="submit">Редактировать услугу</button>
    </form></p>
    <p><form method="post" action="{% url 'services:service_delete' service.id %}">
      {% csrf_token %}
      <button type="submit">Удалить услугу</button>
    </form></p>
  {% endif %}

  {% if request.user != service.executor %}
    <form method="post" action="{% url 'services:to_order' service.id %}">
      {% csrf_token %}
      <button type="submit">Заказать</button>
    </form>
  {% endif %}

{% endblock %}